<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-content-container">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preço</mat-label>
      <input matInput type="text" formControlName="price" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estoque</mat-label>
      <input matInput type="text" formControlName="stock" />
    </mat-form-field>

    <button type="submit" mat-flat-button>Salvar</button>
  </div>
</form>
